* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'VT323', monospace;
    color: #FFB000;
    background-color: black;

}


html, body {
    margin: 0;
    padding: 0;

}

body {

    font-family: 'VT323', monospace;
    /*max-width: 1170px;*/
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;

}

header {
    letter-spacing: 15px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 05;
}

hr {
    color: #FFB000;
    border-color: #FFB000;

}

main {
    margin-top: -200px;
    display: grid;
    padding: 200px 5px 50px 5px;

}

#hedi {
    display: grid;
    /*grid-template-columns: repeat(1, 10% 80% 10%);*/
    text-align: center;
    color: #FFB000;
    margin-bottom: 0px;
    padding: 1em;

}

#navi {
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    text-align: center;

}

#navi a {

    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

#navi a:hover, a:focus {
    background: #C49F66;
    color: black;
    outline: 0;
    transition: background-color 0.4s ease-out;
}

#navi a.active {
    background-color: #C49F66;
}

ul {
    list-style: none;
    padding: 14px;
    margin: 0 auto 0 auto;
    text-align: center;
    background-color: black;
}

ul p {
    margin: 0 auto 0 auto;
}

li {
    display: inline;
}



#osoite {

    grid-row-gap: 1em;
    padding: 1em;
    margin: 5px 5px 0px 5px;
    z-index: 0;
    font-size: 20px;

}

#erityisruokavalioOtsikko {

    grid-row-gap: 1em;
    padding: 1em;
    margin: 5px 5px 0px 5px;
    text-align: center;
    z-index: 0;
    font-size: 20px;
}

#erityisRuokavalio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1em;
    padding: 5em 1em 1em 1em;
    margin: -3em 5px 5px 5px;
    z-index: 6;

}

/* The container */
.container {
    position: relative;
    padding-left: 35px;
    padding-right: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFB000;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #FFB000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#ruokalista {
    display: grid;
    grid-row-gap: 1em;
    padding: 1em;
    margin: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-4-12 14:51:57
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@keyframes blink-1 {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

.blink-1 {
    -webkit-animation: blink-1 1s infinite both;
    animation: blink-1 1s infinite both;
}

/* LARGE SCREENS*/
@media (min-width: 780px) {

    body {
        margin-top: 100px;
    }

    #hedi {
        font-size: 60px;

    }

    #osoite {
        font-size: 50px;

    }

    #ruokalista {
        font-size: 50px;
    }

    td#muutos {
        display: block;

    }

    .muutosOtsake {
        display: block;

    }

    #erityisRuokavalio {
        display: none;
    }

    #erityisruokavalioOtsikko {
        display: none;
    }

}

